<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blues</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\genre.css' %}">}
</head>
<body>
    <div class="result"><p>This music belongs to the 'Blues' Genre!</p></div>
    <div class="info"> <p> Originating from African American communities, blues is characterized by its expressive lyrics and often melancholic melodies, often addressing life's struggles.</p></div>
    <div class="artists"><p>Recommended Artists: B.B. King, Robert Johnson, Muddy Waters</p></div>
</body>
</html>