<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classical</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\genre.css' %}">}
</head>
<body>
    <div class="result"><p>This music belongs to the 'Classical' Genre!</p></div>
    <div class="info"><p>Classical music spans centuries and is known for its complex compositions, orchestral arrangements, and timeless beauty.</p></div>
    <div class="artists"><p>Recommended Composers: Ludwig van Beethoven, Wolfgang Amadeus Mozart, Johann Sebastian Bach.</p></div>
</body>
</html>