<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\genre.css' %}">}
</head>
<body>
    <div class="result"><p>This music belongs to the 'Country' Genre!</p></div>
    <div class="info"><p>Rooted in American folk music, country music often tells stories about everyday life, love, and heartache.</p></div>
    <div class="artists"><p>Recommended Artists: Johnny Cash, Dolly Parton, Willie Nelson.</p></div>
</body>
</html>