<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disco</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\genre.css' %}">}
</head>
<body>
    <div class="result"><p>This music belongs to the 'Disco' Genre!</p></div>
    <div class="info"><p>Originating in the 1970s, disco is characterized by its danceable beats, energetic rhythms, and use of orchestral elements.</p></div>
    <div class="artists"><p>Recommended Artists: Donna Summer, Bee Gees, Gloria Gaynor.</p></div>
</body>
</html>