<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HH</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\genre.css' %}">}
</head>
<body>
    <div class="result"><p>This music belongs to the 'HipHop' Genre!</p></div>
    <div class="info"> <p>Emerging from urban culture, hip hop is marked by its rhythmic beats, spoken-word poetry, and social commentary.</p></div>
    <div class="artists"> <p>Tupac Shakur, The Notorious B.I.G., Kendrick Lamar.</p></div>
</body>
</html>