<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jazz</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\genre.css' %}">}
</head>
<body>
    <div class="result"><p>This music belongs to the 'Jazz' Genre!</p></div>
    <div class="info"><p>Jazz is a diverse genre known for improvisation, syncopated rhythms, and a wide range of styles from swing to bebop.</p></div>
    <div class="artists"><p>Reccomended Artists: Miles Davis, John Coltrane, Ella Fitzgerald.</p></div>
</body>
</html>