<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\genre.css' %}">}
</head>
<body>
    <div class="result"><p>This music belongs to the 'Metal' Genre!</p></div>
    <div class="info"><p> Characterized by powerful guitar riffs, aggressive vocals, and complex compositions, metal has various sub-genres.</p></div>
    <div class="artists"><p>Recommended Bands: Metallica, Black Sabbath, Iron Maiden.</p></div>
</body>
</html>