<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\genre.css' %}">}
</head>
<body>
    <div class="result"><p>This music belongs to the 'Pop' Genre!</p></div>
    <div class="info"><p> Pop music is known for its catchy melodies, accessibility, and broad appeal to a wide audience.</p></div>
    <div class="artists"><p>Recommended Artists: Michael Jackson, Madonna, Taylor Swift.</p></div>
</body>
</html>