<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\genre.css' %}">}
</head>
<body>
    <div class="result"><p>This music belongs to the 'Rock' Genre!</p></div>
    <div class="info"><p> Rock music is a broad genre encompassing various styles, often featuring electric guitars and a strong rhythm section.</p></div>
    <div class="artists"><p>Recommended Bands: The Beatles, Led Zeppelin, Queen.</p></div>
</body>
</html>